@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: blue;
    cursor: default;
}

.logo h2:hover {
    color: chartreuse;
}

.logo span {
    color: crimson;
}
.navigation{
    margin-left: -200px;
}
.navigation a {
    font-size: 1.1em;
    color: rgb(248, 4, 4);
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}

.navigation a:hover {
    color: blueviolet;
}

.btn-talk {
    color: aqua;
    text-decoration: none;
    padding: 8px 35px;
    background-color: rgb(52, 76, 235);
    border: 2px solid rgb(1, 94, 243);
    border-radius: 10px;
    font-weight: 500;
    transition: .3s;
}

.btn-talk:hover {
    color: blueviolet;
    background: transparent;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('home.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.content {
    max-width: 500px;
    color: rgb(228, 80, 60);
}

.content h2 {
    font-size: 2em;

}

.content h2 span {
    color: rgb(60, 220, 20);
}

.content p {
    padding: 10px 0 40px;
    color: rgb(99, 44, 226);
}

.btn-group a {
    color: rgb(251, 253, 255);
    text-decoration: none;
    padding: 10px 40px;
    background: rgb(119, 6, 129);
    border-radius: 10px;
    border: 2px solid rgb(123, 0, 245);
    font-weight: 500;
    transition: .3s;
}

.btn-group a:hover:nth-child(2) {
    color: aliceblue;
    background: purple;
}

.btn-group a:hover:nth-child(1) {
    color: rgb(255, 28, 229);
    background: transparent;
}

.btn-group a:nth-child(2) {
    color: blueviolet;
    background: transparent;
    margin-left: 30px;
    padding: 10px 3opx;
}

.social-icons {
    position: absolute;
    bottom: 50px;
}

.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: purple;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid white;
    outline: 2px solid purple;
    transition: .3s;
}

.social-icons a:hover {
    transform: translateY(-20px);
}

.social-icons a i {
    color: white;
}

.about {
    width:100%;
    padding: 78px 0px;
    background-color: rgba(0, 0, 0, 0.734);
}
.about img {
    border-radius: 50px;
    height: auto;
    width: 420px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.about-text {
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1 {
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: beige;
}
.about-text h5 {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
   color: aliceblue;
}
.button{
    background: rgb(233, 230, 245);
    color: blue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    margin-top: 10px;
}


.button:hover {
    color: rgb(241, 251, 235);
    background:rgb(0, 211, 63);
}
.contact{
    min-height: 100vh;
    background-color: rgb(203, 215, 216);
    padding: 50px;
    text-align: center;
    margin-top: 80px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: rgb(255, 0, 0);
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: aliceblue;
    color: white;
}
input:focus,textarea:focus {
    outline: none;
    box-shadow: 0 0 8px rgb(181, 0, 226);

}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: blue;
    border:none;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}
button:hover{
    background-color: rgb(56, 227, 59);

}
.contact-info{
   text-align: left;

}

.contact-info h3{
    font-size: 24px;
    margin-bottom:20px ;
    color: rgb(0, 0, 0);
}
.contact-info p{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.contact-info i{
    color: black;
    margin-right: 10px;
}
.container_blog {
    width: 100%;
}
.container_blog .row {
    width: 80%;
    margin: auto;
}
.container_blog .row .header_blog{
    width: 60%;
    text-align: center;
    margin: auto;
}
.header_blog {
    align-items: center;
    color:chartreuse;
    text-align: center;
    padding-top: 7%;
}

.header_blog p {
    color: black;
}
.content1{
    padding-left: 10%;
    text-align: center;
}













